@{
    ViewBag.Title = "Index";
}
<br/>
@Html.ActionLink("Cadastrar Produto", "Cadastrar", "Vendedor", new { @class = "btn btn-primary" })




    @foreach (var produto in Model)
    {
        
        <div class="row">
            <br />
            <img src="../../upload-image/produtos/@produto.Id_imagem" style="width: 150px; height: 130px">
            <div class="col">
                <h2>@produto.Nome</h2>
                <p>@produto.Preco</p>
                @Html.ActionLink("Editar", "Editar", new { id = produto.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Excluir", "Excluir", new { id = produto.Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
       
